<div class="grid cols-2">
<article class="card">
<h3>Experiencia</h3>
<ul>
<li><strong>SLB (Schlumberger)</strong> — Pasantía y QA/Testing (2024–2025)</li>
<li><strong>INSTII</strong> - Pasantía y docencia (2024-2025)</li>
<li><strong>Progracademy</strong> - Servicio Comunitario (2025 - 2023–Actualidad) </li>
<li><strong>Freelance</strong> — Desarrollo de software (2023–Actualidad)</li>
</ul>
</article>
<article class="card">
<h3>Educación</h3>
<ul>
<li><strong>PUCE</strong> — Ingeniería en Sistemas (2021 - 2026)</li>
<li><strong>ISM ACADEMY QUITO</strong> -International Baccalaureate (IB) Business Managment (2021)</li>
</ul>
</article>
<article class="card">
    <h3>Certificados</h3>
    <ul>
        <li><strong>CISCO</strong> - NDG LINUX ESSENTIALS</li>
        <li><strong>Microsoft</strong> - Certificacion Excel </li>
        <li><strong>Microsoft </strong> - Certificacion Word </li>>
        <li><strong>UDEMY</strong>- JAVA FULLSTACK DATA BOOTCAMP</li>
    </ul>
</article>
<article>
    class="card">
    <h3>Idiomas</h3>
    <ul>
        <li><strong>Español</strong> — Nativo</li>
        <li><strong>Inglés</strong> — B2 (Cambridge English Assessment)</li>
        <li><strong>Frances</strong> - Nivel Basico</li>
</article>
<article>
    class="card">
    <h3>Habilidades</h3>
    <ul>
        <li>Trabajo en equipo</li>
        <li>Comunicación efectiva</li>
        <li>Resolución de problemas</li>
        <li>Adaptabilidad</li>
        <li>Gestión del tiempo</li>
    </ul>
</article>
</div>
</section>